.landing-container {
	background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
}
.landing-container-main {
	position: relative;
	padding: 40px;
	background: url('../../images/Ilustra-landing.svg') no-repeat center 30%;
	background-size: 70%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.landing-container-main-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.landing-container-main-header__address {
	margin: 15px 0;
	text-align: center;
	font-size: 18px;
}
.landing-container-main-header__address > p:first-child {
	font-weight: 700;
}
.landing-container-main-content__description {
	margin-top: 100%;
}
.landing-container-main-content__description > h2 {
	font-size: 72px;
	line-height: 1em;
	text-align: center;
	margin-bottom: 10px;
}
.landing-container-main-content__description > p {
	font-size: 18px;
	text-align: center;
	margin: 10px 10px 20px;
}
.landing-container-main-content__btn {
	padding: 25px;
	background: #FFD666;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 100ms;	
}
.landing-container-main-content__btn > svg {
	fill: #8D734B;
	transition: fill 100ms;	
}
.landing-container-main-content__btn:hover {
	background: #15C3D6;
	box-shadow: 1px 1px 2px rgba(0,0,0,.1);
	transition: all 100ms;
}
.landing-container-main-content__btn:hover > svg {
	fill: #96FEFF;
	/* transform: translateX(12px); */
	animation: arrowMove 500ms ease-in-out infinite;
	transition: all 100ms;	
}

@keyframes arrowMove {
	to { transform: translateX(2px); }
}


@media(min-width: 768px) {
	.landing-container-main {
		background-size: 50%;
		background-position: center 40%;
	}
	.landing-container-main-content__description {
		margin-top: 65%;
	}
}

@media(min-width: 1024px) {
	.landing-container {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.landing-container-main {
		width: 80%;
		height: 576px;
		background-position: 80% 70%;
		background-size: 40%;
	}
	.landing-container-main-header {
		flex-direction: row;
	}
	.landing-container-main-header__address {
		text-align: right;
	}
	.landing-container-main-content {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	.landing-container-main-content__description {
		width: 250px;
		margin: 0;
	}
	.landing-container-main-content__description > h2 {
		margin-bottom: 10px;
		text-align: left;
	}
	.landing-container-main-content__description > p {
		margin: 0;
		text-align: left;
		width: 250px;
	}
}
