.orphanages-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: repeat(12, 1fr);
}
.orphanages-container-aside {
	position: relative;
	background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
	padding: 5% 7%;
	grid-row: 1/5;
	display: flex;
	flex-wrap: wrap;

}
.orphanages-container-aside__mapTheme {
	position: absolute;
	top: 5%;
	right: 7%;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 150ms;
}
.orphanages-container-aside__mapTheme:active {
	background-color: #17D6EB;
	transition: all 150ms;
}
.orphanages-container-aside__mapTheme > svg {
	transition: all 100ms;
}
.orphanages-container-aside__mapTheme:hover > svg {
	transform: rotate(90deg);
	transition: all 100ms;
}
.orphanages-container-aside__icon {
	width: 15%;
	order: 1;
}
.orphanages-container-aside__description {
	margin: 20px 0;
	order: 3;
}
.orphanages-container-aside__description > h2 {
	font-size: 28px;
	margin-bottom: 5px;
}
.orphanages-container-aside__address {
	margin-left: 20px;
	align-self: center;
	order: 2;
}
.orphanages-container-aside__address > p:first-child {
	font-weight: 700;
}


.orphanages-container-map {
	position: relative;
	grid-row: 5/13;
}
.orphanages-container-map .leaflet-right {
	visibility: hidden;
}
.orphanages-container-map > .leaflet-container {
	z-index: 5;
}
.orphanages-container-map__btn {
	position: absolute;
	bottom: 5%;
	right: 10%;
	width: 60px;
	height: 60px;
	border-radius: 20px;
	background: #15C3D6;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	z-index: 10;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 100ms;
}
.orphanages-container-map__btn > svg {
	transition: all 100ms;
}
.orphanages-container-map__btn:hover {
	background: #17D6EB;
	transform: scale(1.04);
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	transition: all 100ms;
}
.orphanages-container-map__btn:hover > svg {
	transform: rotate(90deg);
	transition: all 100ms;
}

.leaflet-popup-content {
	color: #0089A5;
	font-weight: 700;
	margin: 4px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.leaflet-popup-content-wrapper {
	box-shadow: none;
}
.leaflet-popup-tip-container {
	display: none;
}

.marker-popup__btn {
	width: 40px;
	height: 40px;
	margin-left: 10px;
	border-radius: 12px;
	background: #15C3D6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.marker-popup__btn:active {
	background: #17D6EB;
}

@media(min-width: 768px) {
	.orphanages-container-aside {
		grid-row: 1/4;
	}
	.orphanages-container-map {
		grid-row: 4/13;
	}
	.orphanages-container-aside__icon {
		width: 7%;
	}
	.orphanages-container-aside__description {
		width: 100%;
	}
}
@media(min-width: 1024px) {
	.orphanages-container {
		grid-template-columns: repeat(12, 1fr);
	}
	.orphanages-container-aside {
		padding: 50px;
		grid-column: 1/4;
		grid-row:1/13;
	}
	.orphanages-container-map {
		grid-column: 4/13;
		grid-row:1/13;
	}
	.orphanages-container-aside__icon {
		width: 20%;
	}
	.orphanages-container-aside__address {
		order: 3;
		margin-left: 0;
	}
	.orphanages-container-map__btn {
		right: 5%;
		bottom: 7%;
	}
}
